<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title></title>
<link href="{$config->extensionsDir}/uk.co.vedaconsulting.civicrm_generate_invoice/style/invoice.css" rel="stylesheet" type="text/css" />
<center>
	<table border="0" cellpadding="0" cellspacing="0" id="crm-event_receipt" style="text-align: left;" width="100%">
		<tbody>
			<tr>
				<td align="left" colspan="2">
					<img src="{$config->extensionsDir}/uk.co.vedaconsulting.civicrm_generate_invoice/style/surrey_care_association_logo_wide.gif" /></td>
			</tr>
			<tr>
				<td align="left" valign="top">
					<p>
                        {$displayName}<br />
                        {$fullAddressBlock}
						<br />
						<br />
						</p>
				</td>
                <td align="right" valign="top">
					<p>
						Suite H15A, Leatherhead Enterprise Centre, <br />
						Randalls Way, Leatherhead<br />
						Surrey, KT22 7RY<br />
						Telephone: 01372 825116<br />
						</p>
				</td>
			</tr>
			<tr>
				<td align="left" colspan="2">
					&nbsp;&nbsp;&nbsp;<b>{ts}Date:{/ts}</b> {$invoiceDate}</td>
			</tr>
			<tr>
				<td align="center" colspan="2">
					<b>{$invoiceTitle}</b></td>
			</tr>
			<tr>
				<td align="left" colspan="2">
					&nbsp;&nbsp;&nbsp;{$invoiceTitle} No: {$invoiceNumber}</td>
			</tr>
			<tr>
				<td colspan="2">
					<br />
					<br />
					<table border="0" cellspacing="0" class="borderedtable" width="100%">
                    <tbody>
                    {$contributionLineTableHeadItemsHtml}{$contributionLineItems}
                    {$contributionSubTotal}{$contributionTotalAmount}
                    </tbody>
					</table>
					<br />
					&nbsp;</td></tr>
			<tr>
				<td align="left" colspan="2">
					Payment due within 14 days of invoice date<br /><br />
					</td>
			</tr>		
			<tr>
				<td colspan="2">
          <table border="0" cellspacing="0" width="100%"><tbody>
							<tr>
								<td align="left" width="20%" valign="top">By Cheque:</td>
								<td align="left">payable to 'Surrey Care Association Ltd' at the above address, quoting invoice number on the reverse<br /><br /></td>
							</tr>
							<tr>
								<td align="left" width="20%" valign="top">By BACS:</td>
								<td align="left">Bank name and address here ...<br />Sort Code: 00-00-00 Account No: 000000 Account Name: Surrey Care Association Ltd<br />Remittance Advice quoting invoice number to be sent to the Surrey Care Association Ltd</td>
								</tr>
							</tbody></table>
					</td>
			</tr>
		</tbody>
	</table>
</center>
<p>
	<br />
	<br />
	<span class="footer">Surrey Care Association Limited, a company registered in England and limited by guarantee. Registered office address as above. Company No. 05535438</span></p>